#button {
    background-color: red;
}

[type="button"] {
    background-color: green;
}

.button {
    background-color: blue;
}

body .button {
    background-color: yellow !important;
}

.container .button {
    background-color: green;
}

#text {
    color: blue;
}

.text {
    color: green;
}

p {
    color: gray;
}